* {
    margin: 2px;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif
}

body {
    font-size: 24px;
    background-color: slategray;
    color: black;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.flex-header {
    background-color: #283747;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    padding-left: 3rem;
    padding-right: 3rem;
}

.flex-header h1 {
    font-weight: bold;
    font-size: 36px;
    color: slategray;
    text-shadow: 0 0 10px rgba(	112, 128, 144, .3)
}

.flex-header a {
    text-decoration: none;
    color: slategray;
}

.flex-header nav {
    margin: 7px 0;
}

.flex-header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.flex-header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.flex-header nav ul li a:hover {
    background: silver;
    color: black;
    border-radius: 15px;
    text-shadow: none;
}
/* header styles end */
.flex-main {
    display: flex;
    flex: 1;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-nav {
    background-color: #283747;
    flex: 3 3 5rem;
    color: slategray;
    display: flex;
    flex-wrap: wrap;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.flex-nav h2 {
    padding: 6rem 5rem 3rem 4rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.flex-article {
    background-color: #283747;
    padding-top: 3rem;
    flex: 3 3 5rem;
    display: flex;
    justify-content: center;
    color: black;
}

/* .flex-article div:nth-child(1) {
    border: 5px solid black;
} */

.flex-article img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.flex-article img:hover {
    opacity: .5;
}

.flex-article h2 {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  
}

.flex-article h3 {
    font-size: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  
}

.flex-article h4 {
    font-size: 10px;

}

.flex-article p {
    font-size: 20px;
}

.flex-article img {
    width: 100%;
    display: block;
}

.work-section {
    display: flex;
    border: 2px solid black;
}

.flex-footer {
    background-color: #283747;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: slategray;
    font-size: 30px;
    margin: 0;
    padding-left: 2rem;
}


@media all and (max-width: 540px) {
    .flex-main {
        flex-direction: column;
    }
}
