* {
  margin: 5px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: whitesmoke;
  color: black;
  flex-direction: column;
}

.flex-header {
  background-color: #283747;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-wrap: wrap;
  padding-left: 3rem;
  padding-right: 3rem;
  border: 3px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.flex-header h1 {
  font-weight: bold;
  font-size: 3rem;
  color: #c6d9ec;
  text-shadow: 0 0 10px rgba(112, 128, 144, 0.3);
}

.flex-header a {
  text-decoration: none;
  color: #c6d9ec;
}

.flex-header nav {
  margin: 7px 0;
}

.flex-header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  list-style: none;
}

.flex-header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.flex-header nav ul li a:hover {
  background: whitesmoke;
  color: black;
  border-radius: 15px;
  text-shadow: none;
}
/* header styles end */

#about-me img {
  width: 250px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

#about-me h2 {
  font-size: 50px;
}

#about-me img {
  opacity: 1;
}

.article-style {
  background-color: #283747;
  padding-top: 3rem;
  text-align: center;
  color: whitesmoke;
  flex-wrap: wrap;
  border: 3px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.article-style img {
  object-fit: cover;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  opacity: 0.5;
}

.article-style img:hover {
  opacity: 1;
}

.no-hover {
  pointer-events: none;
}

.section-title {
  font-size: 50px;
  font-weight: bold;
  text-shadow: rgb(198, 217, 236, 0.8);
  margin-bottom: 1rem;
  border-bottom: 3px solid;
  text-align: center;
  color: #c6d9ec;
  margin: 0 auto 35px auto;
  width: 50%;
}

.article-style h3 {
  font-size: 35px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.article-style h4 {
  font-size: 15px;
}

.article-style p {
  font-size: 25px;
  margin-bottom: 1rem;
}

#contact-me h2 {
  display: flex;
  justify-content: center;
}

#contact-me a {
  text-decoration: none;
  color: inherit;
}

@media screen {
}
